@import url(../components/alert/alert.css);
@import url(../components/avatar/avatar.css);
@import url(../components/badge/badge.css);
@import url(../components/button/button.css);
@import url(../components/card/card.css);
@import url(../components/image/image.css);
@import url(../components/input/input.css);
@import url(../components/modal/modal.css);
@import url(../components/simplifiedGrid/simplifiedGrid.css);
@import url(../components/toast/toast.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-cta-color: #1d9bf0;
  --primary-warning-color: #ffbe4f;
  --primary-danger-color: #ff695b;
  --primary-success-color: #3dcc79;

  --primary-cta-color-hover: #0482d7;
  --primary-warning-color-hover: #e6a536;
  --primary-danger-color-hover: #e65042;
  --primary-success-color-hover: #24b360;

  --secondary-cta-color: #cfe2ff;
  --secondary-warning-color: #fff3cd;
  --secondary-danger-color: #f8d7da;
  --secondary-success-color: #d1e7dd;

  --background: #e9ecef;

  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
