.landing-btn {
  color: white;
}

.landing-page {
  text-align: center;
}

.landing-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-top: 20rem;
  width: 80%;
  margin: auto;
}

.landing-title {
  font-weight: 900;
  font-size: 8rem;
  text-align: right;
  margin: 2rem;
}

.landing-logo {
  margin: 2rem;
  flex-grow: 1 1 0;
}

.text-highlight {
  color: var(--primary-cta-color);
}

/* Button styles */
.landing-btn {
  background-color: var(--primary-cta-color);
  padding: 2rem;
  color: white;
  margin-top: 10rem;
  background-color: var(--primary-cta-color);
  border: none;
  border-radius: 4rem;
  font-size: 3rem;
  cursor: pointer;
}
.landing-btn:hover {
  background-color: var(--primary-cta-color-hover);
}

.landing-btn:hover,
.landing-btn:active,
.landing-btn:focus {
  outline: none;
}

/* Responsive */

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }
}
@media (max-width: 770px) {
  :root {
    font-size: 40%;
  }
  .landing-logo {
    width: 50rem;
  }
}
@media (max-width: 660px) {
  :root {
    font-size: 30%;
  }
  .landing-logo {
    width: 50rem;
  }
  .landing-page-container {
    display: flex;
    flex-direction: column;
  }
}
